@model IEnumerable<MVCMailSystem.Models.Mail>

@{
    ViewBag.Title = "Mail Messages";

    var grid = new System.Web.Helpers.WebGrid(source: Model, rowsPerPage: 10);
}

<p>
    <div class="jumbotron">
        <h1>Mail Outbox</h1>
    </div>
</p>
<p>
    @Html.ActionLink("Create New Mail Message", "Index", "TreeView", null, null )
</p>

<table class="table">
    @grid.GetHtml(
        tableStyle: "gridTable",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("DateSent"),    
            grid.Column("MailText"),
            grid.Column(
                header: "",
                style: "text-align-center",
                format: item => new HtmlString(
                    Html.ActionLink("Edit", "Edit", new { ID = item.MailID }).ToString() + " | " +
                    Html.ActionLink("Details", "Details", new { ID = item.MailID }).ToString() + " | " +
                    Html.ActionLink("Delete", "Delete", new { ID = item.MailID }).ToString()
                )
            )
        )
    )
</table>
