@model IEnumerable<MVCMailSystem.Models.MailBox>

@{
    ViewBag.Title = "Index";

    var grid = new System.Web.Helpers.WebGrid(source: Model, rowsPerPage: 10);
}

<p>
    <div class="jumbotron">
        <h1>Mail Inbox</h1>
    </div>
</p>


<table class="table">

    @grid.GetHtml(
        tableStyle: "gridTable",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
                    grid.Column("RecipientID"),
                    grid.Column("MailID"),
                    grid.Column("DateReceived"),
                    grid.Column("DateRead"),
                    grid.Column(
                        header: "",
                        style: "text-align-center",
                        format: item => new HtmlString(
                                    Html.ActionLink("Details", "Details", new { ID = item.MailBoxID, mail = item.MailID}).ToString() + " | " +
                                    Html.ActionLink("Delete", "Delete", new { ID = item.RecipientID }).ToString()
                    )
                )
        )
    )

</table>
